@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form id="myForm" method="post">
    <input type="checkbox" name="idServico" class="IdServico" id="1" value="1" /> Item 1<br />
    <input type="checkbox" name="idServico" class="IdServico" id="2" value="2" /> Item 2<br />
    <input type="checkbox" name="idServico" class="IdServico" id="3" value="3" /> Item 3<br />
    <input type="hidden" id="idServicosSelecionados" name="idServicosSelecionados" />
    <button type="button" id="btnAssociar">Associar</button>
</form>
